<div class="absolute inset-0" 
     #flowContainer>
  
  <f-flow #flow fDraggable
          (fSelectionChange)="onSelectionChange($event)"
          [attr.data-dragging]="flowStateService.draggingItemType() ? 'true' : 'false'">
          <f-selection-area></f-selection-area>

    <f-canvas #canvas fZoom>
      <!-- Les nœuds permanents -->
      @for (node of flowStateService.nodes(); track node.id) {
        <div fNode 
             [fNodePosition]="node.position || {x: 0, y: 0}"
             fNodeOutput 
             [fOutputId]="'output_' + node.id" 
             [fOutputMultiple]="node.maxOutputs !== 1"
             fOutputConnectableSide="right"
             fNodeInput
             [fInputId]="'input_' + node.id"
             [fInputMultiple]="node.maxInputs !== 1"
             fInputConnectableSide="right"
             [attr.data-node-id]="node.id"
             class="w-[200px] rounded-md overflow-hidden border border-gray-200 bg-white">
          <div class="p-3 flex items-center">
            <div class="w-10 h-10 flex items-center justify-center rounded-md bg-gray-100 mr-3">
              <span class="text-lg text-gray-700">{{ flowService.getNodeIcon(node.type) }}</span>
            </div>
            <span class="font-medium text-gray-800">{{ node.type }}</span>
          </div>
        </div>
      }
      
      <!-- Connexions entre les nœuds permanents -->
      @for (connection of flowStateService.connections(); track connection.id) {
        <f-connection 
          [fOutputId]="connection.sourceId" 
          [fInputId]="connection.targetId"
          [fReassignDisabled]="true"
          [attr.data-connection-id]="connection.id"
          [fSelectionDisabled]="true"
          fBehavior="floating">
          <div 
            fConnectionCenter
            appConnectionCenter
            appDropZone
            [connectionId]="connection.id"
            (dropOnConnection)="onDropOnConnection($event)">
          </div>
        </f-connection>
      }
    </f-canvas>
    
    <!-- Ajout d'un fond quadrillé -->
    <f-background></f-background>
    
  </f-flow>
  
  <!-- Toolbar flottante -->
  <app-flow-toolbar></app-flow-toolbar>
  <app-confirmation-dialog></app-confirmation-dialog>
</div>