/* Styles spécifiques au flow container */
:host {
  display: block;
  position: relative;
  height: 100%;
  width: 100%;
}

.temporary-connection {
  --f-connection-stroke-dasharray: 5,3;
}

.temporary-node {
  transition: all 0.2s ease-in-out;
}

.temporary-node:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

.f-selected {
  box-shadow: 0 0 0 2px rgb(59 130 246), 0 0 0 4px white;
  filter: drop-shadow(0 10px 15px rgb(0 0 0 / 0.1));
  transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}

